@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';


.main-content{
    height: 100vh;
}

.form-section{
    height: 100%;
    display: flex;
    align-items: center;
}



// Left-Section

.left-section{
    width: 50%;
    height: 100%;
}

.left-section-inner{
    position: relative;
    height: 100%;
    figure{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.left-section-inner{
    figcaption{
        position: absolute;
        width: 80%;
        bottom: 2.5rem;
        left: 2.5rem;


    }
}



.left-section-inner{
    .figcaption-inner{
        background-color: $white-color;
        padding: 1rem;
        border-radius: $form-border-radius;

    }
}


.left-section-inner{
    .figcaption-inner{
        h4{
            padding-bottom: 0.5rem;
            font-size: calc(1rem + 0.5vw);
        }
        p{
            font-size: calc(0.5rem + 0.5vw);
        }

    }
}


// Right-Section

.right-section{
    width: 50%;
    padding: 0 6rem;
    position: relative;

}


.right-section{
    .close-button{
        position: absolute;
        top: 0;
        left: 90%;
        transform: translate(0, -50%);
        a{
            color: $form-color;
            i{
                font-size: 1.2rem;
            }
        }   
    }


}


.right-section-inner{
    height: 100%;

}

.image-upload-heading{
    padding-bottom: 1rem;
}

.image-upload-box{
    max-width: 320px;
    min-height: 180px;
    border: 2px dashed;
    border-color: $form-color;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 2rem;



    i{
        
        font-size: 1.5rem;
        color: $form-color;
    }
    .file-upload{
        position: absolute;
        inset: 0;
        opacity: 0;

    }
    span{
        font-weight: 600;
        font-size: $form-fields-font-size;
    }
}

.zip-code-inner{
    margin-bottom: 2.5rem;

}


.zip-code-heading{
    padding-bottom: 1rem;
}


.zip-code-inner{
    .zip-code-input{
        position: relative;
        i{
            position: absolute;
            left: 0.5rem;  
            top: 50%;
            transform: translateY(-50%);
            font-size: $form-fields-font-size;
            color: $form-color; 
        }
        input{
            width: 100%;
            border: 1px solid;
            border-color: $form-color;
            height: $form-fields-height;
            border-radius: $form-border-radius;
            padding-left: 1.75rem;
            &::placeholder{
                font-size: $form-fields-font-size;
                color: $form-color;
                
            }
        }

    }

}

.zip-code-inner{
    .category{
        position: relative;
        font-size: calc(#{$category-font-size} + 0.25vw);
        border: 1px solid;
        border-radius: $form-border-radius;
        border-color: $form-color;
        height: $form-fields-height;

        .category-inner{
            position: absolute;
            left: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
    

        }
    }

}


// Form-Page-2

.title-2{

    font-size: 0.8rem;
    margin-bottom: 0.5rem;

}

.login-search-pod{
    border: 1px solid;
    height: $form-radio-height;
    border-color: $form-color;
    border-radius: $form-border-radius;
    padding: $form-y-axis-padding $form-x-axis-padding ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;

    
    span{

        &:first-child{
            flex: 1;
        }
        &:nth-child(2){
            flex: 2;
        }
        &:nth-child(3){
            flex: 2;
        }



        font: {
            size: $form-radio-font;
        };

        b{
            font-weight: 500;
            color: $form-color;
        }

        strong{
            display: block;
        }
        strong.n-a{
            color: red;
        }
    }

    // input[type="radio"]{
    //     accent-color: red;

    // }


}



.title-3{
    margin-bottom: 0.5rem;
    font: {
        size: 0.8rem;
    };
}



// Dashboard

// Navbar

header{
    margin-bottom: $section-space-dashboard-page;
}

.navbar-brand{
    img{
        max-width: 50px;
    }
}


.search-field{
    position: relative;

    input{
        width: 230px;
        // max-width: 300px;
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 58%;
        padding-right: 1.5rem;
        display: inline-block;
    }

    .search-title{
        display: flex; 
        align-items: center;
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        p{
            font-size: 0.8rem;
            font-weight: 600;
        }
        span{
            margin-left: 0.2rem;
        }
        i{
            padding-left: 0.2rem;
            font-size: 0.8rem;
            border-left: 1px solid black;
        }
    }
    .icon-search1{
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: $form-fields-font-size;
        color: $form-color; 
        font-size: 0.8rem;
    }
    
}





.form-control {
    border-radius: $theme-links-border-radius;
    border-color: $form-color;
    height: $theme-links-height;
}







.custom-right-nav{
    li{
        display: flex;
        align-items: center;
        div{
            font-size: 0.6rem;
            font-weight: bold;
        }

        a{
            text-align: center;
            color: $black-color;

            i{
                font-size: 1.5rem;
            }
        }
    }
}

.sign-in{
    a{
        display: flex;
        align-items: center;
        i{
            font-size: 1rem!important;
        }
        span{
            font-size: 0.8rem;
            font-weight: bold;
        }

    }

}


// Main-Hero-Section

// sideBar

.section-wrapper{
    display: flex;
}

.sidebar {
    border: 1px solid;
    border-color: $form-color;
    border-radius: 10px;
    text-align: center;
    width: 320px;

    .profile {
        display: flex;
        align-items: center;
        padding: 20px;
        position: relative;
        padding-bottom: 20px;
        gap: 12px;

        .name {
            text-align: left;


        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 90%;
            height: 1px;
            background-color: $form-color;
            transform: translateX(-50%);
        }

    }

    img {
        width: 50px;
        height: 50px;
    }

    .sidebar-content {
        padding: 20px;

    }

    ul {

        a {
            display: flex;
            align-items: center;
            gap: 12px;
            color: $form-color;
            font-weight: 600;
            text-decoration: none;
            padding: 10px 0;

            span {
                margin-left: auto;
                padding: 10px;
                color: #36454F;

            }

            i {
                color: #36454F;
                font-size: 25px;

            }


            .badge {
                background-color: #ff7300;
                color: $white-color;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
            }

            &:hover {
                background-color: $secondary-color;
                color: blue;
                i{
                    color: blue;
                }
            }
        }

    }
}
// right section

.your-profile-heading{
    margin-bottom: 1rem;
    b{
        font-size: 1.5rem;
    }
}


.right-section-image-upload{
    flex: 1;
    padding-left: 2rem;
}







.image-upload-section{
    background-color: $dashboard-image-section-color;
    height: 350px;
    border: 1px solid;
    border-radius: 5px;
    border-color: $form-color;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 1rem;

    .icon-upload1{
        font-size: 1.5rem;
        color: $form-color;
        padding-bottom: 1rem;
    }
    .file-upload{
        position: absolute;
        inset: 0;
        opacity: 0;

    }
    span{
        font-weight: 600;
        font-size: $form-fields-font-size;
    }

    .edit-icon{
        position: absolute;
        font-size: 1rem;
        bottom: 1.5rem;
        left: 1.5rem;
    }
}

.profile-content{
    .profile{
        display: flex;
        margin-top: 1rem;
    }
        .profile-image{
            img{
                width: 80px;
                height: 80px;
            }
        }
    .name{
        padding: 0 1rem;
        b{
            font-size: 1.5rem;
        }
        p{
            font-weight: bold;
            font-size: 0.8rem;
        }
        .profession{
            padding-top: 0.2rem;
            color: $form-color;
        }
    }
}








@import './partials/mediaquery';


// *{
//     outline: 1px solid red;   
// }