@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';


.main-content{
    height: 100vh;
}

.form-section{
    height: 100%;
    display: flex;
    align-items: center;
}



// Left-Section

.left-section{
    width: 50%;
    height: 100%;
}

.left-section-inner{
    position: relative;
    height: 100%;
    figure{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


.left-section-inner{
    figcaption{
        position: absolute;
        width: 80%;
        bottom: 2.5rem;
        left: 2.5rem;


    }
}


.left-section-inner{
    .figcaption-inner{
        background-color: $white-color;
        padding: 1rem;
        border-radius: $form-border-radius;

    }
}


.left-section-inner{
    .figcaption-inner{
        h4{
            padding-bottom: 0.5rem;
            font-size: calc(1rem + 0.5vw);
        }
        p{
            font-size: calc(0.5rem + 0.5vw);
        }

    }
}


// Right-Section

.right-section{
    width: 50%;
    padding: 0 6rem;
    position: relative;

}


.right-section{
    .close-button{
        position: absolute;
        top: 0;
        left: 90%;
        transform: translate(0, -50%);
        a{
            color: $form-color;
            i{
                font-size: 1.2rem;
            }
        }   
    }


}


.right-section-inner{
    height: 100%;

}

.image-upload-heading{
    padding-bottom: 1rem;
}

.image-upload-box{
    max-width: 320px;
    min-height: 180px;
    border: 2px dashed;
    border-color: $form-color;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 2rem;



    i{
        
        font-size: 1.5rem;
        color: $form-color;
    }
    .file-upload{
        position: absolute;
        inset: 0;
        opacity: 0;

    }
    span{
        font-weight: 600;
        font-size: $form-fields-font-size;
    }
}

.zip-code-inner{
    margin-bottom: 2.5rem;

}


.zip-code-heading{
    padding-bottom: 1rem;
}


.zip-code-inner{
    .zip-code-input{
        position: relative;
        i{
            position: absolute;
            left: 0.5rem;  
            top: 50%;
            transform: translateY(-50%);
            font-size: $form-fields-font-size;
            color: $form-color; 
        }
        input{
            width: 100%;
            border: 1px solid;
            border-color: $form-color;
            height: $form-fields-height;
            border-radius: $form-border-radius;
            padding-left: 1.75rem;
            &::placeholder{
                font-size: $form-fields-font-size;
                color: $form-color;
                
            }
        }

    }

}

.zip-code-inner{
    .category{
        position: relative;
        font-size: calc(#{$category-font-size} + 0.25vw);
        border: 1px solid;
        border-radius: $form-border-radius;
        border-color: $form-color;
        height: $form-fields-height;

        .category-inner{
            position: absolute;
            left: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
    

        }
    }

}


// Form-Page-2



.login-search-pod{
    border: 1px solid;
    height: $form-radio-height;
    border-color: $form-color;
    border-radius: $form-border-radius;
    padding: $form-x-axis-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;


    span{

        font: {
            size: $form-fields-font-size;
        };
        strong{
            display: block;
        }
    }

    input[type="radio"]{
        accent-color: green;
    }
}



@import './partials/mediaquery';