$primary-color: #f5e22c;
$secondary-color: #a1c3c6;



$black-color: #000000;
$white-color: #FFFFFF;
$form-color: rgb(98, 98, 98);

$form-border-radius: 5px;

body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Oswald", sans-serif;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

h4{
    margin: 0;
}


a{
    text-decoration: none;
}


p{
    margin: 0;
}


figure{
    margin: 0;
}