$primary-color: #f5e22c;
$secondary-color: #a1c3c6;
$black-color: #000000;
$white-color: #FFFFFF;



$min-font-size: 1rem;

$form-color: rgb(98, 98, 98);
$form-fields-font-size: 0.8rem;
$category-font-size: 0.5rem;
$form-border-radius: 5px;
$form-fields-height: 2.2rem;
$form-y-axis-padding: 1.5rem;
$form-x-axis-padding: 0.5rem;



$form-radio-height: 2.5rem;
$form-radio-line-height: 1.5rem;
$form-radio-font: calc(0.3rem + 0.5vw);




$theme-links-height:2rem;
$theme-links-border-radius: 20px;

$section-space-dashboard-page: 2rem;
$sidebar-badge-color: #ff7300;
$sidebar-hover-color: #3f70bc;
$sidebar-hover-bg-color: #e5edfd;
$dashboard-image-section-color: #f7f7f7;


body{
    overflow: hidden;
    overflow-y: auto;
    font-family: "Open Sans", sans-serif; 

}

.large-text{
    font-size: calc(1.5rem + .25vw)!important;
}

.no-margin{
    margin: 0!important;
}


.black{
    color: $black-color!important;
}

.theme-btn{
    display: inline-block;
    border: none;
    text-decoration: none;
    padding: 0 1.25rem;
    border-radius: $form-border-radius;
    height:$form-fields-height;
    line-height: $form-fields-height;
    text-align: center;
}
.theme-btn-yellow{
   background-color: $primary-color;
   color: $black-color;
   border: 1px solid $primary-color;
}

.theme-btn-bordered{
    background-color: transparent;
    color: $black-color;
    border: 1px solid $black-color;
 }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, figure{
    margin: 0;
}



a{
    text-decoration: none;
}


.radio-button-theme{
    border: 1px solid;
    border-color: $form-color;
    height: $form-radio-height;
    line-height: $form-radio-line-height;
    font-size: $form-fields-font-size;
    border-radius: $form-border-radius;
    padding: 0 $form-x-axis-padding;
}



.theme-links{
    display: inline-block;
    border: 1px solid;
    border-color: $form-color;
    text-transform: capitalize;
    border-radius: $theme-links-border-radius;
    height: $theme-links-height;
    line-height: $theme-links-height;
    padding: 0 1rem;
    color: $black-color;
    font-size: 0.7rem;
    font-weight: bold;

}


.theme-profile-img{
    border-radius: 50%;
    object-fit: cover;
}


.theme-edit-anchor{
    color: $form-color;
}

.theme-edit-icon{
    font-size: 0.6rem;
    border: 1px solid;
    border-color: $form-color;
    padding:0.5rem;
    border-radius: 50%;
    background-color: $white-color;
}


.section-border{
    border: 1px solid  $form-color;
    border-radius: 5px;
}

.edit-content{
    padding: 1rem 1rem 2rem 1rem;
    &:not(:last-child){
        border-bottom: 1px solid $form-color;
    }
    
   
}

.edit-content-inner{
    height: 120px;
    position: relative;
    b{
        font-size: 0.8rem;
        color: $form-color;
    }
    p{

        height: 80%;
        overflow-y: auto;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.edit-content-half-inner{
    height: 80px;
    position: relative;
    b{
        font-size: 0.8rem;
        color: $form-color;
    }

}

.pencil-icon{
    position: absolute;
    top: 0;
    right: 0;
}


.footer-link{
    color: $white-color;
    font-size: 0.8rem;
    font-weight: 500;
}

