@media (max-width: 1200px){
    .right-section{
        padding: 0 3rem;
    
    }
    .ls-hide{
        display: none !important;
    }


}


@media (max-width: 991.5px){
    .search-field{
            input{
                
                width: 300px;
            }
            .search-title{
                span{                  
                    margin-left: 2rem;
                }
            }
        }


    .theme-links{

        font-size: $min-font-size;
        font-weight: normal;
    
    }

    .custom-right-nav{
        flex-direction: column;
        li{
            div{
                font-size: 1rem;
                font-weight: normal;
            }
    
            a{
                font-size: $min-font-size;
                .link-icons{
                    display: none;
                }
                text-align: left;

            }
        }
        .sign-in{
            i{
                display: none;
            }
            span{
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
    .theme-links{
        border: none;
        border-radius: 0;
        padding: 0;

    }
    // sidebar
    .section-wrapper{
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        height: fit-content;
    }
    .right-section-image-upload{
        flex: auto;
        padding-left: 0;
    
    }
    
    
    
}


@media (max-width: 768px){

   
    .left-section{
        width: 100%;       
    }  
    .left-section-inner{
        figure
            img{
                opacity: 0.1;
            }
        .figcaption-inner{
            display: none;

        }
    }
    .right-section{
        width: 100%;
        position: absolute;


    }

    .section-border{
        margin-top: 1rem;
    }

}

@media (max-width: 576px){

    .mb-hide{
        display: none !important;
    }

    .right-section-wrapper{
        padding: 0;
    }
    .right-section{
        padding: 0 1rem;
    
    }
    .image-upload-box{
        max-width: 100%;
        min-height: 200px;
    }

    .zip-code-inner{
        .zip-code-input{
            margin-bottom: 1rem;
        }
    }
    .btn-wrapper{
        margin-bottom: 1rem;
    }

    .login-search-pod{ 
        span{
            &:first-child{
                flex: 2;
            }
            &:nth-child(2){
                flex: 2;
            }
            &:nth-child(3){
                flex: 2;
            }
        }
    }
    .search-field{
        flex: 1;
            input{
                
                width: 100%;
                padding-left: 1rem;
            }
        .search-title{
            display: none; 
        }
    }

    .edit-content-inner{
    
        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
    .edit-content-half-inner{
        height: 120px;
    
    }

    .directory-listing-input{
        flex-direction: column;
        align-items: start;
        input{
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .contact-info{
        flex-direction: column;
        align-items: start;
    
        .phone{
            margin-right: 0;
        }
    }
    




}


// @media (min-width: 576px){
//     .md-hide{
//         display: none !important;
//     }

// }