@media (max-width: 1200px){
    .right-section{
        padding: 0 3rem;
    
    }
}


@media (max-width: 768px){

   
    .left-section{
        width: 100%;       
    }  
    .left-section-inner{
        figure
            img{
                opacity: 0.1;
            }
        .figcaption-inner{
            display: none;

        }
    }
    .right-section{
        width: 100%;
        position: absolute;


    }

}

@media (max-width: 576px){

    .right-section-wrapper{
        padding: 0;
    }
    .right-section{
        padding: 0 1rem;
    
    }
    .image-upload-box{
        max-width: 160px;
        min-height: 90px;
        border: 1px dashed;
    }

    .zip-code-inner{
        .zip-code-input{
            margin-bottom: 1rem;
        }
    }
    .btn-wrapper{
        margin-bottom: 1rem;
    }
    

}