@media (max-width: 992px){
    .zip-code-inner{
        display: block;
        .zip-code-input{
            width: 100%;
            padding-right: 0;
            margin-bottom: 1rem;
        }
        .category{
            width: 100%;
        }
    }
}


@media (max-width: 768px){
    .left-section{
        width: 100%;       
    }
    
    .left-section-inner{
        figure
            img{
                opacity: 0.1;
            }
        .figcaption-inner{
            display: none;

        }
    }

    .right-section{
        width: 100%;
        position: absolute;
    
    }
    .zip-code-inner{
        display: flex;
        align-items: center!important;
        .zip-code-input{
            width: 60%;
            padding-right: 1rem;
            align-items: center;
            margin-bottom: 0;
        }
        .category{
            width: 40%;
            padding: 0.2rem 0;
            text-align: center;

        }
    }
}




@media (max-width: 576px){

    .right-section-wrapper{
        padding: 0;
    }

}